  .ripple {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    background-color: rgba(255, 255, 255, .4);
    opacity: 0;
    border-radius: 0.25rem;
    pointer-events: none;
    z-index: 11;
    animation: ripple .5s ease-out;
  }
  @keyframes ripple {
    0% {
      width: 0;
      height: 0;
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      width: 100%;
      height: 100%;
      opacity: 0;
    }
  }
